<div id="result">
    <div class="container-fluid">
        <div class="col-xs-12">
            <h1>Great job, <%= current_user.name %>!</h1>
            <div>
                <h3 class="project-submit">This is the project you just submitted:</h3>
                <div><img width="500px" src="<%= current_user.submissions.last.file.url %>"/></div>
            </div>
        </div>
    </div>

   

    <div class="row">
        <h2>Engineers At Work</h2>
        <p> Just like all createHers, engineering requires creativity, hard work, and a drive to do better. Below we want to show you one way engineering was related to your recently completed mission.</p>
    </div>
    <div class="row">
        <div>
            <img class="engineer-profile" src="http://media2.fdncms.com/sevendaysvt/imager/work-profile-carolyn-carlson-civil-engin/u/original/2408964/work1-1.jpg"/>
        </div>
        <div>
                <h3 class="engineer">Carolyn Carlson | Civil Engineer</h3>
                <h4>from Williston, Vermont</h4>
                <p class="bio-text">Carolyn Carlson is a civil engineer in the structures section of the Vermont Agency of Transportation. That's the division responsible for maintaining Vermont's 2,712 interstate, state and town bridges. If it spans more than 20 feet over a road, river or railroad, she probably knows it.</p>
                <p class="bio-text">Carlson's best-known project is probably the Checkered House Bridge, on Route 2 in Richmond. In 2012, the 350-foot metal-truss span, the longest of its kind in Vermont, was sliced in two and widened by more than 12 feet. The $15.9 million project, more than 20 years in the making, was the first truss bridge ever widened this way. It earned Carlson, the project manager, several national awards.</p>
        </div>
    </div>

    <div class="row">
        <div>
            <h2>Community Designs</h2>
                <p class="other-girls">Prototypes from other students</p>
        </div>
    </div>
    <div class="row">
        <% @challenge.submissions.each_with_index do |submission,i| break if i==6 %>
        <% if i==3 %></div><div class="row"><% end %>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <img class="responsive-image"src="<%= submission.file.url %>"/>
                </div>
                <div class="panel-body">
                    <h3><%= submission.user.name %></h3>
                    <p><%= submission.description %></p>
                </div>
            </div>
        </div>
        <% end %>
    </div> 
            
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <% next_challenge = Challenge.find(@challenge.id + 1) %>
              <% if next_challenge != nil %>
                  <h2>Next Challenge:</h2>
                  <%= image_tag(next_challenge.image_location, width: "100") %>
                  <div class="center-block"><a href="<%= challenge_show_path(:challenge_id => next_challenge.id) %>" type="button" class="btn btn-info"><%= next_challenge.title %></a></div>
              <% else %>
                <h2>You're done with all the challenges! Great job!</h2>
              <% end %>
            </div>
    </div>
</div>
