<div>
      <h1>Design Submission</h1>
      <img class="take-pic" src="http://91ef69bade70f992a001-b6054e05bb416c4c4b6f3b0ef3e0f71d.r93.cf3.rackcdn.com/cute-girl-calling-by-phone-cartoon-illustration-100199017.jpg">
		<p class="submit-text">Take a picture or video of your first solution to share it with the world. <br> It's okay if it's not quite perfect. <br> Engineering is all about improving over time.</p>
        
            
		<%= form_for @submission, url: challenge_controller_post_result_path do |f|  %>
		<%= f.label :description, "Describe your Solution:"%>
		<%= f.text_area :description, class: "form-control", placeholder: "Type your strategy here"  %>
		<%= f.label :file, "Upload a Picture or Video of your Design:" %>
		<%= f.file_field :file, class: "form-control"  %>
		<%= f.submit class: "form-control btn btn-info" %>

		<% end %>
    
</div>